NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56;
NET "clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;


NET "led<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = P123 | IOSTANDARD = LVCMOS33;

NET tx LOC = P51 | IOSTANDARD = LVCMOS33;
NET rx LOC = P41 | IOSTANDARD = LVCMOS33;